<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ekincare Android Application Test Automation Suite">
	
	<listeners>
		<listener class-name="com.ekincare.androidautomation.extentreport.ExtentReporterNG" />		
	</listeners>
	
	<test name = "Ekincare apk Test">
	
		<classes>
			<class name="com.ekincare.androidautomation.home.HealthCheckupScenarioTest" />
			<class name="com.ekincare.androidautomation.home.GymScenarioTest" />
		</classes>
		
	</test>
</suite>